/*rem vw vh 100%*/
@font-face {
    font-family: 'iconfont';  /* project id 561407 */
    src: url('https://at.alicdn.com/t/font_561407_f1uuijni0z281tt9.eot');
    src: url('https://at.alicdn.com/t/font_561407_f1uuijni0z281tt9.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_561407_f1uuijni0z281tt9.woff') format('woff'),
    url('https://at.alicdn.com/t/font_561407_f1uuijni0z281tt9.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_561407_f1uuijni0z281tt9.svg#iconfont') format('svg');
}
*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
}
body{
    background: #ccc;
}
.swiper-container{
    width: 100vw;
    height: 30vh;
}
.swiper-slide{
   background: lavenderblush;
    font-size: 30px;

}
.type{
    width: 100%;
    height: 10vh;
}
.project,.done{
    width: 50%;
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    font-size: 18px;
    color:#fff;
    font-weight: bold;
    background: #333;
    float:left;
}

/*.done{*/
    /*background: #1aeef1;*/
/*}*/
.swiper-slide img{
    width: 100%;
    height: 100%;
}
.project.active{
    background: #00ff66;
}
.done.active{
    background: #00ff66;
}
.content{
    width: 100vw;
    height: 50vh;
    background: #fff;
    overflow: hidden;
    position: relative;
}
.content ul{
    width: 100vw;
    height: auto;
}
.content ul li{
    width: 100vw;
    height: 8vh;
    line-height: 8vh;
    border-bottom: 1px solid #ccc;
}
.item_list li p{
    width: 60vw;
    height: 8vh;
    /*background: red;*/
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.item_list li time{
    width: 30vw;
    height: 8vh;
    /*background: #1aeef1;*/
    float: left;
    line-height: 4vh;
}
.item_list li span{
    width: 10vw;
    height:8vh;
    text-align: center;
    float: left;
    /*background: blue;*/
    font-family: 'iconfont';
}
.item_list li span.active{
   color: red;
}
.item_list li div{
    width: 20vw;
    height: 8vh;
    background-color: red;
    color:#fff;
    text-align: center;
    line-height: 8vh;
    position: absolute;
    right:-20vw;
    top:0;
}
.add{
    width: 100vw;
    height: 10vh;
    background: #8a6d3b;
    text-align: center;
    line-height: 10vh;
    font-size: 26px;
    color:#fff;
    font-weight: 700;

}
.mask{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.67);
    position: absolute;
    left:0;
    top:0;
    z-index: 10;
    display: none;

}
#text{
    width: 100vw;
    height: 40vh;
    resize: none;
    border:none;
    padding:10vw;
    font-size: 16px;
    display: block;
}
.submit,.update{
    width: 100vw;
    height: 10vh;
    background: cyan;
    text-align: center;
    line-height: 10vh;
    font-size: 26px;
    color:#fff;
    font-weight: 700;
}
.cancel{
    width: 6vh;
    height: 6vh;
    margin:3vh auto;
    border:1px solid #fff;
    text-align: center;
    line-height: 6vh;
    color:#fff;
    font-size: 16px;
    border-radius: 50%;
}
.inputarea{
    width: 100vw;
    height: 62vh;
    transform: translateY(-62vh);
}
.update{
    display: none;
}